body {
  color: yellow;
  background-image: url(../images/deathstar.png);
  background-color: black;
  align-content: center;
}

.container {
  width: 1600px;
  top: 0;
}

#instructionHeading {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

#mainLogo {
  margin-left: auto;
  margin-right: auto;
}

.character {
  width: 400px;
  height: 250px;
  border: 5px double yellow;
  border-radius: 20px;
  z-index: 1000;
  margin: 20px;
  display: inline-block;
}

.defeated {
  border: 5px double red;
  border-radius: 20px;
}

.defeated .characterImage {
  border: 3px solid red;
  border-radius: 5px;
}

.characterImage {
  border: 3px solid yellow;
  border-radius: 5px;
  padding: 5px;

  width: 150px;
  height: auto;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 20px;

}

.characterName {
  margin-top: 35px;
  margin-left: 20px;
  font-size: 20px;
}

.characterButton {
  margin-top: 45px;
  margin-left: 30px;
}

#notificationArea {
  width: 400px;
  height: 250px;
  border: 5px double yellow;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
  display: block;
}

.sideImage {
  width: 200px;
  height: auto;
  margin-bottom: -75px;
  display: inline-block;
}
.rotateImage {
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.sideImageDiv {
  display: inline-block;
  margin-right: 75px;
}

.invisible {
  display: none;
}
.makeVisible {
  display: inline;
}